<h1>All Tracks</h1>
<% @tracks.each do |track| %>
  <div class="track">
    <h3><a href="/tracks/<%= track.id %>"><%= track.song_title %></a><small>(by: <%= track.author %>)</small></h3>
    <p>
			 <!-- video player goes here! -->
    </p>
  </div>
<% end %>
<a href="/tracks/new">Add a song!</a>