<% @title = @track.song_title %>

<h1><%= @track.song_title %></h1>

<p>
  Artist: <%= @track.artist %>
</p>
<p>
  Shared by: <%= @track.user.try(:username) %>
</p>
	<div class="videoWrapper">
		<iframe src= "<%= @track.url %>" frameborder="0" allowfullscreen></iframe>
	</div>
<div class= "bottom-wrapper">
<a href="/tracks">Back to All Tracks</a>
</div>