 <% @page_title = "Signup" %>
<form method="post" action ="/signup">
	<p><input type="text" name="username" value="" placeholder="Username"></p>
	<p><input type="text" name="email" value="" placeholder="Email"></p>
  <p><input type="password" name="password" value="" placeholder="Password"></p>
  <input type="submit" value="Submit"> <br>
</form>